@import url("https://websseu.github.io/fontkor/fontkor.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f8f8f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NexonLv1Gothic", Helvetica, sans-serif;
}
